2022-04-28-11-10-37.bag filter=lfs diff=lfs merge=lfs -text
2022-04-28-11-55-15.bag filter=lfs diff=lfs merge=lfs -text
gps_test_data.bag filter=lfs diff=lfs merge=lfs -text
lidar_test_data.bag filter=lfs diff=lfs merge=lfs -text
odom-test.bag filter=lfs diff=lfs merge=lfs -text
oval-test.bag filter=lfs diff=lfs merge=lfs -text
odom-test-whole-o.bag filter=lfs diff=lfs merge=lfs -text
oval-test-fast.bag filter=lfs diff=lfs merge=lfs -text
oval-test-hugging.bag filter=lfs diff=lfs merge=lfs -text
friday-test.bag filter=lfs diff=lfs merge=lfs -text
friday-test.orig.bag filter=lfs diff=lfs merge=lfs -text
oval_fullcourse.bag filter=lfs diff=lfs merge=lfs -text
oval_fullcourse.bag.7z.001 filter=lfs diff=lfs merge=lfs -text
oval_fullcourse.bag.7z.002 filter=lfs diff=lfs merge=lfs -text
oval_fullcourse.bag.7z.003 filter=lfs diff=lfs merge=lfs -text
